/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        combo_tvp {
            timeout-ms = <100>;
            key-positions = <13 14 15>;
            bindings = <&tog TVP1>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // -----------------------------------------------------------------------------------------
        // BASE layer - Totem layout adapted to Corne (42 keys)
        // Outer left col:  TAB  / LCTRL / LALT(TAB)
        // Outer right col: BSPC / SQT   / ENTER
        // -----------------------------------------------------------------------------------------
        //
        // | LALT(TAB) |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BSPC |
        // |  LCTRL    |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  '  | SEMI |
        // |  TAB      | Z/C |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | ENT  |
        //                   | GUI | SHF | SPC(hyper) |   | ESC(SYM) | BSPC(NAV) | --- |

        base_layer {
            label = "BASE";
            bindings = <
   &mt LALT TAB       &kp Q               &kp W  &kp E         &kp R           &kp T                             &kp Y         &kp U            &kp I      &kp O    &kp P      &kp BSPC
   &kp LEFT_CONTROL   &kp A               &kp S  &kp D         &kp F           &kp G                             &kp H         &kp J            &kp K      &kp L    &kp SQT    &kp SEMI
   &kp TAB            &mt LEFT_CONTROL Z  &kp X  &kp C         &kp V           &kp B                             &kp N         &kp M            &kp COMMA  &kp DOT  &kp FSLH   &kp ENTER
                                                 &kp LEFT_GUI  &kp LEFT_SHIFT  &mt LA(LS(LEFT_CONTROL)) SPACE    &lt SYM ESCAPE  &lt NAV BACKSPACE  &trans
            >;
        };

        // -----------------------------------------------------------------------------------------
        // NAV layer (Layer 1) - Navigation & symbols
        // -----------------------------------------------------------------------------------------

        nav_layer {
            label = "NAV";
            bindings = <
   &trans  &kp AT           &kp LESS_THAN  &kp GREATER_THAN  &kp EQUAL          &kp LBRC         &kp CARET  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR  &trans   &trans
   &trans  &kp EXCLAMATION  &kp UNDER      &kp MINUS         &kp EQUAL          &kp AMPS         &kp HASH   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp TILDE   &trans   &trans
   &trans  &kp STAR         &kp PLUS       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PERCENT      &kp GRAVE  &kp COLON             &kp SEMI               &trans      &trans   &trans
                                           &trans            &trans             &trans           &mo ADJ    &kp KP_N0             &trans
            >;
        };

        // -----------------------------------------------------------------------------------------
        // SYM layer (Layer 2) - Numbers & arrows
        // -----------------------------------------------------------------------------------------

        sym_layer {
            label = "SYM";
            bindings = <
   &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9     &kp NUMBER_0  &trans
   &trans  &trans        &trans        &trans        &trans        &trans          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans        &trans
   &trans  &trans        &trans        &trans        &trans        &trans          &trans          &trans          &trans        &trans           &trans        &kp BACKSPACE
                                       &trans        &gif          &mo ADJ         &trans          &kp C_PP        &trans
            >;
        };

        // -----------------------------------------------------------------------------------------
        // ADJ layer (Layer 3) - System / Bluetooth / F-keys
        // -----------------------------------------------------------------------------------------

        adjust_layer {
            label = "ADJ";
            bindings = <
   &trans  &sys_reset   &bt BT_CLR  &out OUT_TOG  &trans  &trans    &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans
   &trans  &bootloader  &bt BT_NXT  &trans        &trans  &trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
   &trans  &trans       &bt BT_PRV  &trans        &trans  &trans    &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                    &trans        &trans  &trans    &trans  &trans  &trans
            >;
        };

        // -----------------------------------------------------------------------------------------
        // TVP1 layer (Layer 4) - TVP app controls
        // -----------------------------------------------------------------------------------------

        tvp1_layer {
            label = "TVP 1";
            bindings = <
   &trans  &kp TAB     &kp I      &kp LC(LALT)  &kp O        &kp LC(F20)    &none  &none  &none  &none  &none  &none
   &trans  &lt TVP2 L  &kp LEFT   &kp LALT      &kp RIGHT    &kp SPACE      &none  &none  &none  &none  &none  &none
   &kp J   &kp LSHFT   &kp LC(C)  &kp BSPC      &kp LC(V)    &kp LC(F19)    &none  &none  &none  &none  &none  &none
                                   &trans        &kp LC(F14)  &kp LC(F13)    &none  &none  &none
            >;
        };

        // -----------------------------------------------------------------------------------------
        // TVP2 layer (Layer 5) - TVP app extended controls
        // -----------------------------------------------------------------------------------------

        tvp2_layer {
            label = "TVP 2";
            bindings = <
   &trans  &kp LC(F18)  &kp LS(I)     &kp LS(HOME)  &kp LS(O)      &kp LS(F)      &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans
   &trans  &trans       &kp LS(LEFT)  &kp LC(F17)   &kp LS(RIGHT)  &kp RET        &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
   &trans  &kp J        &kp LS(C)     &kp LC(F16)   &kp LS(V)      &kp LC(F15)    &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                      &trans        &kp LC(F12)    &kp LC(F11)    &trans  &trans  &trans
            >;
        };
    };
};
